body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

p {
    font-size: 1em;
    color: #888;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info {
    flex-basis: 40%;
    padding: 10px;
}

.commands {
    flex-basis: 60%;
    padding: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
    
